/* Menu.css */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans&family=Lora&family=Merienda:wght@600&family=Nunito:wght@300&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  /* background-image: url(../assets/background.jpg); */
}

/* Container for the entire menu section */
.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.heading {
  font-size: 50px;
}

.vl {
  border-left: 1px solid #d4dadd;
  height: 900px;
  position: absolute;
  left: 200px;
  /* margin-left: -3px; */
  margin-top: 85px;
  top: 0;
}

.vl-2 {
  border-left: 1px solid #d4dadd;
  height: 900px;
  position: absolute;
  right: 330px;
  /* margin-left: -3px; */
  margin-top: 85px;
  top: 0;
}

/* Left section for food categories */
.left-section {
  flex: 1;
  max-width: 200px;
}

.left-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  margin-bottom: 5px;
}

.category-list button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #007bff;
}

.category-list button.active {
  font-weight: bold;
}

/* Menu items */
.menu {
  flex: 2;
  margin: 0 20px;
}

.menu h2 {
  font-size: 1.5rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu-item {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.item-image {
  flex: 1;
  max-width: 200px;
}

.item-image img {
  width: 100%;
  border-radius: 5px;
}

.item-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

.item-details span {
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.decrement-button,
.increment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  height: 30px;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 10px;
}

.decrement-button[disabled],
.increment-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity {
  font-weight: bold;
  margin-right: 10px;
}

/* Order section */
.order {
  flex: 1;
  max-width: 300px;
}

.order h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.total-amount {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 20px;
}

/* .submit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
} */

/* Confirmation message */button-62total-amount
.order p {
  font-size: 1.2rem;
  color: #28a745;
  margin-top: 10px;
}

/* CSS */
.submit-button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.submit-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.submit-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}